:root {
  --small-color: #434455;
  --footer-color: #f4f4fd;
  --logo-color: #4d5ae5;
  --ocean-color: #404bbf;
  --white-color: #ffffff;
  --grey-color: #2e2f42;
}

body {
  font-family: Roboto, sans-serif;
  color: #2e2f42;
  color: #434455;
  background-color: #ffffff;
}
/* HEADER */

.logo > span {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}
.logo-span {
  color: #2e2f42;
}
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-color);
}
.link {
  text-decoration: none;
  color: #2e2f42;
}
.list-items {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  color: #2e2f42;
}
.list-items:hover,
.list-items:focus {
  color: var(--ocean-color);
  text-decoration: underline;
}
.list {
  list-style-type: none;
}
.address-items {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--small-color);
  text-decoration: none;
}
.address-items:hover,
.address-items:focus {
  color: var(--ocean-color);
}
.address {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}
.section {
  background-color: #2e2f42;
}
/* MAIN */
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--white-color);
}
.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: var(--white-color);
  background-color: var(--logo-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--ocean-color);
}
.smth-items {
  list-style-type: none;
}
.third-title {
  color: var(--grey-color);
}
.smth-paragraph {
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;
  color: var(--small-color);
}
.second-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--grey-color);
}
.images {
  list-style-type: none;
}
.team {
  background-color: var(--footer-color);
}
.list-img {
  list-style-type: none;
  background-color: var(--white-color);
}
/* FOOTER */
.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */
  color: var(--footer-color);
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-color);
}
.footer-logo > span {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--footer-color);
}
/* PAGE NUMBER 2 */
.btn-items {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-color);

  background: var(--footer-color);

  cursor: pointer;
}

.btn > li {
  list-style-type: none;
}
/* CARDS */

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;
}

.cards > li {
  list-style-type: none;
  list-style: none;
}
